<div class="container">
  <div class="row">
    <div class="col-8-md">
      <h1>{{title}}</h1>
      <h2>Welkom {{name}}</h2>
      <input type="checkbox" name="" id="" (change)="toggleCities($event)">
      <span [ngSwitch]="showCities">
        <span *ngSwitchCase="true">{{nlText.t1}}</span>
        <!--Voordeel van Declaritive valt hier een beetje weg-->
        <span *ngSwitchCase="false">Toon lijst met steden</span>
      </span>
      <ul class="list-group" *ngIf="cities$ && showCities">
        <li class="list-group-item" *ngFor="let city of cities$ | async" 
        (click)="getCity(city.id)">
          {{city.id}} - {{city.name}} ({{city.province}})
        </li>
      </ul>
      <div *ngIf="currentCity$ | async as city">
        <ul class="list-group">
          <li class="list-group-item list-group-item-info">
            <h3>Gekozen Stad</h3>
          </li>
          <li class="list-group-item">
            <strong>Stad: </strong>{{city.name}} (id: {{city.id}})
          </li>
          <li class="list-group-item">
            <img [src]="city.url" [alt]="city.name" class="img-fluid">
          </li>
        </ul>
        <button class="btn btn-warning" (click)="clear()">Clear</button>
        <button class="btn btn-danger" (click)="">Delete City</button>
      </div>
      <div *ngIf="currentCity">
        <img [src]="currentCity.url" [alt]="currentCity.name" class="img-fluid">
      </div>
      <p *ngIf="showCities">Jij hebt veel favoriete steden zeg.</p>
      <!-- In dit geval is dit niet heel erg declaritive omdat de logica erachter wel heel erg simpel is -->
      <form action="">
        <input type="text" name="" id="" class="form-group-item" #txtCity
          (keyup.enter)="addCity(txtCity.value, urlCity.value, indexCity.valueAsNumber)">
        <input type="text" name="" id="" #urlCity
          (keyup.enter)="addCity(txtCity.value, urlCity.value, indexCity.valueAsNumber)">
        <input type="number" name="" id="" #indexCity
          (keyup.enter)="addCity(txtCity.value, urlCity.value, indexCity.valueAsNumber)">

        <button (click)="addCity(txtCity.value, urlCity.value, indexCity.valueAsNumber)" class="btn btn-primary">Voeg
          stad toe</button>
      </form>



      <app-customer></app-customer>
      <app-colourpatch></app-colourpatch>
    </div>
  </div>
</div>
