<div class="container">
  <div class="row">
    <div class="col-8-md">
      <h1>{{title}}</h1>
      <h2>Welkom {{name}}</h2>
      <input type="checkbox" name="" id="" (change)="toggleCities($event)">
      <span [ngSwitch]="showCities">
        <span *ngSwitchCase="true">{{nlText.t1}}</span> <!--Voordeel van Declaritive valt hier een beetje weg-->
        <span *ngSwitchCase="false">Toon lijst met steden</span>
      </span>
      <ul class="list-group" *ngIf="cities && showCities">
        <li class="list-group-item" *ngFor="let city of cities" (click)="showCity(city)">
          {{city.id}} - {{city.name}} ({{city.province}})
        </li>
      </ul>
      <div *ngIf="currentCity">
        <img [src]="currentCity.url" [alt]="currentCity.name" class="img-fluid">
      </div>
      <p *ngIf="showCities">Jij hebt veel favoriete steden zeg.</p> 
      <!-- In dit geval is dit niet heel erg declaritive omdat de logica erachter wel heel erg simpel is -->
      <input type="text" name="" id="" #txtCity (keyup.enter)="addCity(txtCity.value)">
      <button (click)="addCity(txtCity.value)">Voeg stad toe</button>
      
      <app-customer></app-customer>
      <app-colourpatch></app-colourpatch>
    </div>
  </div>
</div>
